.navbar{
    margin: 0;
    display: flex;
    justify-content: space-around;
    height: 75px;
    box-shadow: 0 1px 3px -2px black;
    
}
.nav-logo{
    display:flex;
    align-items: center;
    gap: 10px;
    width:30%;
}
.nav-logo p{
    color: #171717;
    font-size: 30px;
    font-weight: 600;
}
.nav-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    width:50%;
    list-style: none;
    gap: 50px;
    color: #626262;
    font-size: 20px;
    font-weight: 600;
}

.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}

.nav-menu hr{
    border:none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #FF4141;
}
.login-cart{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    margin-left: 4%;
    gap: 16px;

}

.login-cart button{
    background: white ;
    justify-content: center;
    height: 2rem;
    width: 5rem;
    border-radius: 0.5rem;
    border: 1px solid #626262;
}
.login-cart button:active{
    background: #f3f3f3;
}
.nav-cart-count{
    width: 22px;
    height: 22px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: -35px;
    margin-left:-30px;
    background: #FF4141;
    color: white;
    border-radius: 50%;
}





.resize{
    width: 17%;
    height: auto;
}